

    <div class="jumbotron">
        <h1>Sneaker Finder</h1>
    </div>
    <form method="post" action="/getShoes">
        What shoe are you looking for (one word)?
        <input type="text" name="shoe"><br>
        <input type="submit">
    </form>
