<div class="jumbotron">
    <h1>Sneaker Finder</h1>
</div>

<form method="post" action="/getShoes">
    What shoe are you looking for?
    <input type="text" name="shoe"><br>
    <input type="submit">
</form>

<% results.map((shoe) => {%>
<div style="border-top:thick solid black; margin:20; padding:10">
    <h1 class="bg-warning"> <%= shoe.title %> - $<%= shoe.retailPrice %></h1><br>
    <img src="<%= shoe.media.smallImageUrl %>" width="200">
    <br>
</div>
<%})%>
